<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.diff.dao.api.ICrtUserInfoDao" >
  <resultMap id="BaseResultMap" type="com.sun.diff.form.CrtUserInfo" >
    <id column="USER_INFO_ID" property="userInfoId" jdbcType="DECIMAL" />
    <result column="SEX" property="sex" jdbcType="CHAR" />
    <result column="AGE" property="age" jdbcType="DECIMAL" />
    <result column="BIRTHDAY" property="birthday" jdbcType="TIMESTAMP" />
    <result column="COUNTRY_CODE" property="countryCode" jdbcType="CHAR" />
    <result column="CITY_CODE" property="cityCode" jdbcType="CHAR" />
    <result column="TELEPHONENUMBER" property="telephonenumber" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USER_INFO_ID, SEX, AGE, BIRTHDAY, COUNTRY_CODE, CITY_CODE, TELEPHONENUMBER, CREATE_DATE, 
    CREATE_USER, UPDATE_DATE, UPDATE_USER
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sun.diff.form.CrtUserInfo" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRT_USER_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from CRT_USER_INFO
    where USER_INFO_ID = #{userInfoId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from CRT_USER_INFO
    where USER_INFO_ID = #{userInfoId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sun.diff.form.CrtUserInfo" >
    delete from CRT_USER_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sun.diff.form.CrtUserInfo" >
    insert into CRT_USER_INFO (USER_INFO_ID, SEX, AGE, 
      BIRTHDAY, COUNTRY_CODE, CITY_CODE, 
      TELEPHONENUMBER, CREATE_DATE, CREATE_USER, 
      UPDATE_DATE, UPDATE_USER)
    values (#{userInfoId,jdbcType=DECIMAL}, #{sex,jdbcType=CHAR}, #{age,jdbcType=DECIMAL}, 
      #{birthday,jdbcType=TIMESTAMP}, #{countryCode,jdbcType=CHAR}, #{cityCode,jdbcType=CHAR}, 
      #{telephonenumber,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sun.diff.form.CrtUserInfo" >
    insert into CRT_USER_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userInfoId != null" >
        USER_INFO_ID,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="age != null" >
        AGE,
      </if>
      <if test="birthday != null" >
        BIRTHDAY,
      </if>
      <if test="countryCode != null" >
        COUNTRY_CODE,
      </if>
      <if test="cityCode != null" >
        CITY_CODE,
      </if>
      <if test="telephonenumber != null" >
        TELEPHONENUMBER,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="updateUser != null" >
        UPDATE_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userInfoId != null" >
        #{userInfoId,jdbcType=DECIMAL},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=DECIMAL},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="countryCode != null" >
        #{countryCode,jdbcType=CHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=CHAR},
      </if>
      <if test="telephonenumber != null" >
        #{telephonenumber,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sun.diff.form.CrtUserInfo" resultType="java.lang.Integer" >
    select count(*) from CRT_USER_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CRT_USER_INFO
    <set >
      <if test="record.userInfoId != null" >
        USER_INFO_ID = #{record.userInfoId,jdbcType=DECIMAL},
      </if>
      <if test="record.sex != null" >
        SEX = #{record.sex,jdbcType=CHAR},
      </if>
      <if test="record.age != null" >
        AGE = #{record.age,jdbcType=DECIMAL},
      </if>
      <if test="record.birthday != null" >
        BIRTHDAY = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.countryCode != null" >
        COUNTRY_CODE = #{record.countryCode,jdbcType=CHAR},
      </if>
      <if test="record.cityCode != null" >
        CITY_CODE = #{record.cityCode,jdbcType=CHAR},
      </if>
      <if test="record.telephonenumber != null" >
        TELEPHONENUMBER = #{record.telephonenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null" >
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CRT_USER_INFO
    set USER_INFO_ID = #{record.userInfoId,jdbcType=DECIMAL},
      SEX = #{record.sex,jdbcType=CHAR},
      AGE = #{record.age,jdbcType=DECIMAL},
      BIRTHDAY = #{record.birthday,jdbcType=TIMESTAMP},
      COUNTRY_CODE = #{record.countryCode,jdbcType=CHAR},
      CITY_CODE = #{record.cityCode,jdbcType=CHAR},
      TELEPHONENUMBER = #{record.telephonenumber,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sun.diff.form.CrtUserInfo" >
    update CRT_USER_INFO
    <set >
      <if test="sex != null" >
        SEX = #{sex,jdbcType=CHAR},
      </if>
      <if test="age != null" >
        AGE = #{age,jdbcType=DECIMAL},
      </if>
      <if test="birthday != null" >
        BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="countryCode != null" >
        COUNTRY_CODE = #{countryCode,jdbcType=CHAR},
      </if>
      <if test="cityCode != null" >
        CITY_CODE = #{cityCode,jdbcType=CHAR},
      </if>
      <if test="telephonenumber != null" >
        TELEPHONENUMBER = #{telephonenumber,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_INFO_ID = #{userInfoId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sun.diff.form.CrtUserInfo" >
    update CRT_USER_INFO
    set SEX = #{sex,jdbcType=CHAR},
      AGE = #{age,jdbcType=DECIMAL},
      BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      COUNTRY_CODE = #{countryCode,jdbcType=CHAR},
      CITY_CODE = #{cityCode,jdbcType=CHAR},
      TELEPHONENUMBER = #{telephonenumber,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR}
    where USER_INFO_ID = #{userInfoId,jdbcType=DECIMAL}
  </update>
</mapper>